@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");

.header {
  margin-bottom: 50px;
}

.title-contact {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

.content-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  font-family: "Roboto", sans-serif;
}

.phone,
.address {
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .contact-information {
    margin-top: 60px;
  }
}
